@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");

.titleVerde {
  width: 100% !important;
}
.titleVerde h2 {
  margin: 0px;
  font-family: oswald;
  color: white;
  width: 100% !important;
  border-bottom: 1px solid;
  border-image: linear-gradient(
      98deg,
      rgba(0, 28, 19, 1) 0%,
      rgba(0, 96, 65, 1) 50%,
      rgba(0, 28, 19, 1) 100%
    )
    1;
}
