@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
.background-CardEstudio {
  background-color: #181818;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  border-radius: 6px;
  cursor: pointer;
  padding: 20px;
  transition: all 0.5s;
}
.background-CardEstudio:hover {
  background-color: #022417;
  border: 1px solid white;
}
.Tecnologias-Estudio {
  display: grid;
  width: 85%;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 10px 12px;
}

.background-CardEstudio p {
  color: #ffffff;
  font-weight: 300;
}
.fechaInicio-terminado {
  font-family: "Oswald", sans-serif;
  margin-bottom: 35px;
  font-size: 17px;
  margin-bottom: 0 !important;
}
.descripcionEstudio {
  font-size: 15px;
  font-family: "Poppins", sans-serif !important;
}
.nameTitulo {
  color: #ffffff;
  margin-bottom: 0px;
  font-family: "Oswald", sans-serif;
}
.InstS {
  color: #ffffff;
  margin-bottom: 0px;
  font-size: 20px;
  margin-top: 0;
  font-family: "Oswald", sans-serif;
}
.btnCer_Est {
  border-radius: 100px;
  background-color: transparent;
  border: 1px solid rgb(0, 184, 125);
  color: rgb(0, 184, 125);
  padding: 0px 30px 0px 30px;
  margin-bottom: 10px;
  cursor: pointer;
  width: 215px;
  font-family: oswald;
  font-weight: 700;
  font-size: 16px;
  padding: 15px 30px;
  display: inline-block;
  letter-spacing: 1px;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 rgb(0, 184, 125);
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
}

.btnCer_Est:hover {
  color: white !important;
  box-shadow: inset 400px 0 0 0 #008259;
}
