@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");

.background-Gray {
  background-color: #181818;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  cursor: pointer;
  max-height: 100px;
  view-timeline-name: --reveal;
  animation: show 12s both;
  animation-timeline: --reveal;

  animation-range: entry cover 25%;
}

.nameTecnologia {
  color: #008259;
  font-family: "Oswald", sans-serif;
}
.imgTecnologia {
  transition: all 0.5s;
  width: 70px;
  height: 70px;
  padding: 7px;
}
.nameTecnologia {
  opacity: 0;
  position: absolute;
  transition: all 0.5s;
}
.background-Gray:hover .nameTecnologia {
  opacity: 100;
  display: block;
}
.background-Gray:hover .imgTecnologia {
  opacity: 3%;
}

@keyframes show {
  from {
    opacity: 0;
    scale: 10%;
  }
  to {
    opacity: 1;
    scale: 100%;
  }
}
