#Banner {
  display: flex;
  justify-content: center;
  height: 940px;
  background-color: white;
}

#about {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 100px 0px 100px 0px;
}

.containerBanner,
.superior-Sobremi {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 85%;
}

.containerText {
  width: 60%;
}

.containerText h2,
.containerText h1,
.containerText p {
  font-family: "Oswald", sans-serif;
}

.containerText p {
  font-weight: 350;
  width: 90%;
  font-size: 19px;
}

.containerText h2 {
  margin-top: 0px;
  margin-bottom: 0px;
  color: black;
}

.containerText h2 span {
  color: #008259;
}

.cont-imgContainer {
  background-color: #1b1b1b;
  height: 100%;
  position: relative;
  width: 40%;
  display: flex;
  align-items: end;
  right: -10%;
}
.cont-imgContainer img {
  height: 80%;
  position: relative;
  right: 40%;
}
.containerText h1 {
  margin-top: 0px;
  font-size: 60px;
  margin-bottom: 10px;
  color: #008259;
}

.containerText h1 span {
  color: black;
}

.containerText p {
  color: black;
}

.containerButtons {
  display: flex;
}

.btnSeparador {
  margin: 10px;
}

.btnContactarBanner {
  margin-top: 10px;
  border-radius: 100px;
  background-color: #008259;
  border: none;
  color: white;
  padding: 0px 30px 0px 30px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: all 0.5s;
}

.btnContactarBanner:hover {
  background-color: rgb(0, 65, 44);
  color: #ffffff;
}

.btnCV {
  margin-top: 10px;
  border-radius: 100px;
  background-color: transparent;
  border: 1px solid rgb(0, 184, 125) !important;
  color: rgb(0, 184, 125) !important;
  padding: 0px 30px 0px 30px;
  margin-bottom: 10px;
  cursor: pointer;

  padding: 15px 30px;
  display: inline-block;
  font-size: 14px;
  letter-spacing: 1px;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 #008259;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
}

.iconRed,
.iconContact2 {
  background-color: #008259;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 42px;
  height: 42px;
  cursor: pointer;
  transition: all 0.5s;
  border-radius: 100px;
}

.iconRed:hover,
.iconContact2:hover {
  width: 48px;
  height: 48px;
  box-shadow: inset white;
}

.btnCV:hover {
  color: white;
  box-shadow: inset 400px 0 0 0 #008259;
}

.btn-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

footer a,
.btn-1 a {
  text-decoration: none;
  border: 2px solid white;
  border-radius: 122px;
  padding: 15px;
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: relative;
  display: inline-block;
}

span {
  position: relative;
  z-index: 3;
}

* {
  scroll-behavior: smooth;
}

.btn-1 a::before {
  content: "";
  position: absolute;
  top: 5px;
  color: white !important;
  left: -2px;
  width: calc(100% + 6px);
  height: calc(100% - 10px);
  background-color: #001c13;
  transition: all 0.5s ease-in-out;
  transform: scaleY(1);
}

.limitarMenorWidth {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 750px;
  gap: 15px;
}
.cardsEstudios::-webkit-scrollbar,
.limitarMenorWidth::-webkit-scrollbar {
  width: 5px;
}

.cardsEstudios::-webkit-scrollbar-track,
.limitarMenorWidth::-webkit-scrollbar-track {
  background: transparent;
}

.cardsEstudios::-webkit-scrollbar-thumb,
.limitarMenorWidth::-webkit-scrollbar-thumb {
  background: #008259;
}

.limitarMenorWidth .background-CardEstudio {
  max-width: 100% !important;
}

.limitarMenorWidth .btnCer_Est {
  margin-top: 20px;
}

.btn-1 a:hover::before {
  transform: scaleY(0);
}
.menu {
  transition: 1s all;
}
#contTit {
  color: white !important;
}

.btn-1 a::after {
  content: "";
  position: absolute;
  left: 5px;
  top: -5px;
  width: calc(100% - 10px);
  height: calc(100% + 10px);
  background-color: #001c13;
  transition: all 0.5s ease-in-out;
  transform: scaleX(1);
}

.btn-1 a:hover::after {
  transform: scaleX(0);
}

.textoSobreMi {
  width: 49%;
}

.textoSobreMi .titleVerde {
  margin-bottom: 40px;
  width: 25vh;
}

.textoSobreMi p {
  color: white;
  font-family: "Poppins", sans-serif;
  margin: 25px 0px 25px 0px;
}

.imgSobremi {
  width: 500px;
  height: 420px;
}

.imgSobremi img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.containerButtons a,
.containerButtons button {
  font-family: "Oswald";
  font-size: 16px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
#Tecnologias {
  width: 85%;
}
.techSup {
  display: flex;
  gap: 10px;
  width: 100%;
}
#Tecnologias .titleVerde {
  margin-bottom: 40px;
  width: 350px;
}
#Tecnologias h2 {
  font-family: oswald;
  color: white;
  border-bottom: 1px solid;
  border-image: linear-gradient(
      98deg,
      rgba(0, 28, 19, 1) 0%,
      rgba(0, 96, 65, 1) 50%,
      rgba(0, 28, 19, 1) 100%
    )
    1;
}
.contFront,
.contBack {
  width: 100%;
}
.superior-Sobremi {
  margin-bottom: 50px;
  gap: 20px;
}
.techInf {
  width: auto !important;
}
.containerTecnologias {
  display: grid;
  padding: 30px 50px;
  margin-top: 20px;
  background-color: #008259;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px 50px;
}
.techSup .containerTecnologias {
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.tituloEstudios {
  color: #ffffff;
  font-family: "Oswald", sans-serif;
}

#Estudios {
  display: flex;
  padding: 55px 0px;
}
.Certs,
.estudios {
  padding-left: 7.5%;
  padding-right: 7.5%;
  padding-top: 2%;
  padding-bottom: 5%;
  width: 50%;
}
.Certs .background-CardEstudio {
  background-color: #2f2f2f !important;
}
.cardsEstudios {
  display: flex;
  flex-direction: column;
  max-height: 750px;
  overflow-x: hidden;
  overflow-y: auto;
  gap: 10px !important;
}
.estudios {
  background-color: white !important;
}
.estudios h2 {
  color: black !important;
}
.ContainerEstudio {
  background-color: #1b1b1b;
}

.contenedorBotones {
  display: flex;
  align-items: center;
}

#experienciaLaboral {
  display: flex;
  justify-content: center;
  padding: 10px 0px;
}

.centrarExpLaboral {
  width: 85%;
  padding: 50px 0px 50px 0px;
}
.lineaExp {
  width: 5px;
  background-color: #008259;
}
.cartExp .background-CardEstudio {
  width: 600px !important;
  background-color: #008259 !important;
  transition: all 0.5s;
}

.cartExp .titleVerde-CardEstudio,
.cartExp .titleVerde-CardEstudio p {
  background-color: #181818 !important;
  color: white !important;
}
.cartExp {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.Circulo {
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 100px;
}

.experienciasCartas {
  position: relative;
  right: 27px;
}

.experiencias {
  display: flex;
}
.containerExp {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.botonesContacto {
  position: fixed !important;
  z-index: 9999;
  width: 60px;
  right: 10px;
  bottom: 10px;
  transition: all 2s;
}
.contButtonsFixed {
  width: 100%;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease;
}
.botonesContacto.active .contButtonsFixed {
  max-height: 300px;
}
.botonesContacto.active .contButtonsFixed div {
  display: flex;
}
.contButtonsFixed div {
  display: flex;
}
.clickDespliegue {
  width: 60px;
  cursor: pointer;
  height: 60px;
  border-radius: 100%;
  background-color: #008259;
  display: flex;
  justify-content: center;
  align-items: center;
}

.limitarMenorWidth .Tecnologias-Estudio,
.experienciasCartas .Tecnologias-Estudio {
  width: 100% !important;
}
.centrarExpLaboral h2 {
  text-align: center;
  font-family: "Oswald";
  color: white;
  margin-bottom: 30px;
}
.cartExp .background-CardEstudio:hover {
  background-color: #181818 !important;
}
.cartExp .background-CardEstudio:hover .titleVerde-CardEstudio,
.cartExp .background-CardEstudio:hover .titleVerde-CardEstudio p {
  background-color: #008259 !important;
}
#proyectos {
  background: #001c13;
  background: linear-gradient(
    98deg,
    rgba(0, 28, 19, 1) 7%,
    rgba(0, 161, 110, 1) 41%,
    rgba(0, 161, 110, 1) 67%,
    rgba(0, 28, 19, 1) 93%
  );
  display: flex;
  padding: 50px 0px;
  justify-content: center;
}
#proyectos h2 {
  margin-top: 0px;
}
.CentrarProyectos {
  width: 85%;
  padding: 20px 0px;
}
.CentrarProyectos h2 {
  text-align: center;
  font-family: "Oswald";
  color: white;
  margin-bottom: 30px;
}

.background-CardProyecto {
  position: relative;
  height: 250px;
}
#contactar {
  display: flex;
  justify-content: center;
}
.centrarContactar {
  width: 85%;
  margin: 70px 0px;
  display: flex;
  justify-content: space-between;
}
.formulario {
  width: 50%;
  font-family: "Oswald";
  color: white;
  margin-bottom: 30px;
}
.formulario input {
  width: 99%;
  height: 50px;
  margin-bottom: 20px;
  background: transparent;
  border: 1px solid #008259;
  color: white;
}

.formulario input::placeholder {
  font-family: "oswald";
  font-size: 16px;
}

.formulario input[type="submit"] {
  background-color: #008259;
  color: white;
  width: 160px;
  border-radius: 100px;
  cursor: pointer;
  transition: 0.5s all;
}
.formulario input[type="submit"]:hover {
  background-color: white;
  color: #008259;
}
.descripcion-input {
  height: 200px !important;
}
footer {
  background-color: #008259;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.iconContact2,
.clickDespliegue {
  border: 1px solid white;
}
.colorMenuScroll {
  background-color: #004932 !important;
}
.formulario input::placeholder {
  padding-left: 7px !important;
}
.colorMenuScroll .btn-1 a::before,
.colorMenuScroll .btn-1 a::after {
  background-color: #001c13 !important;
}
.CentrarFooter p {
  text-align: end;
  font-size: 18px;
  font-family: "Oswald";
  color: white;
  margin: 0;
}
.CentrarFooter {
  width: 85%;
}

@media (max-width: 1381px) {
  .iconosExp {
    display: none;
  }
}

@media (max-width: 1024px) {
  .limitarMenorWidth {
    overflow-x: scroll;
  }
  .imgSobremi {
    display: none;
  }
  .cont-imgContainer {
    display: flex;
    width: 60%;
    height: 100%;
  }
  .Certs,
  .estudios {
    padding-top: 2%;
    padding-bottom: 5%;
    width: 85%;
  }
  #Estudios {
    flex-direction: column-reverse;
  }
  .centrarContactar img {
    display: none;
  }
  .formulario {
    width: 100%;
  }
  .containerText {
    width: 100%;
  }

  .superior-Sobremi {
    flex-direction: column-reverse;
  }

  .imgSobremi {
    width: 100%;
  }

  .textoSobreMi {
    width: 100%;
  }
}

@media (max-width: 950px) {
  .imgBanner {
    display: none;
  }
  .techSup {
    flex-direction: column;
  }
  .techSup .containerTecnologias {
    width: auto !important;
  }
  .imgProyectoContainer {
    height: 200px !important;
  }
  .containerProyectos {
    max-width: 100%;
  }
  .containerProyectos .btns-Proyecto {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
@media (max-width: 829px) {
  .cartExp .background-CardEstudio {
    width: 85% !important;
  }
}
@media (max-width: 629px) {
  .containerButtons {
    flex-direction: column;
  }

  .btnContactarBanner {
    padding: 15px 30px;
  }
  .Uni .background-CardEstudio {
    justify-content: start;
    height: 100%;
  }
  .btnCV {
    margin: 10px 0px 20px 0px;
  }

  .iconRed {
    margin: 0px 15px 0px 0px;
  }

  .containerText h1 {
    font-size: 55px;
  }
  .cardsEstudios,
  .limitarMenorWidth {
    flex-direction: row;
    overflow-y: hidden;
    overflow-x: auto;
    max-height: fit-content;
  }
  .cardsEstudios .background-CardEstudio {
    min-width: 300px;
  }
  .Circulo,
  .flechaCartaExp,
  .lineaExp {
    display: none;
  }
  .cartExp .background-CardEstudio {
    width: 100% !important;
  }
  .experienciasCartas {
    right: 0;
  }
}

@media (max-width: 455px) {
  .titleVerde {
    width: 100% !important;
  }
  .containerText p {
    font-size: 16px;
  }
  .containerBanner,
  .superior-Sobremi,
  #Tecnologias,
  .ContainerEstudio,
  .CentrarProyectos {
    width: 90% !important;
  }

  .containerTecnologias {
    padding: 5px 5px;
  }

  .cont-imgContainer {
    display: none;
  }
  .Certs,
  .estudios {
    padding-left: 5%;
    padding-right: 5%;
  }
}
.containerText {
  display: table;
}
.containerText h1 {
  position: relative;
  background: white;
}
.containerText .escribir {
  position: absolute;
  right: 0;
  width: 0;
  background: white;
  border-left: 1px solid #008259;
  animation: escribir 5s steps(30) infinite alternate;
}
@keyframes escribir {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}
